.search_area{
    
    margin: 15px 0;
}
.search_area :global .ant-form-item{
    margin-bottom: 0!important;
}
.img{
    width: 80px;
}
.img img {
    width: 100%;
}
.titletxt{
    width: 70px;
    line-height: 32px;
    text-align: right;
}