.homepage_style{
    width: 100%;
    height: 100%;
}
.header{
    color: #fff;
    text-align: center;
}
.title{
    font-size: 20px;
    font-weight: 700;
}
.user{
    float: right;
    font-size: 16px;
}